body {
  background-color: #072227;
}
.wrapper {
  padding: 20px;
}

header {
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header nav a {
  text-decoration: none;
}

header nav div {
  font-size: larger;
  background-color: darkblue;
  color: white;
  width: 200px;
  border-radius: 7px;
  transition: background-color 0.2s, color 0.2s;
  padding: 10px;
}

header nav div:hover {
  background-color: burlywood;
  color: black;
  cursor: pointer;
}

.question-table-row:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "changeling_neoinline";
  src: url("./assets/changeling_neo_inline-webfont.woff2") format("woff2"),
    url("./assets/changeling_neo_inline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.mainheading {
  font-family: "changeling_neoinline";
  font-size: 6.1538vw;
  text-align: center;
  color: #00a1ff;
  text-shadow: 0 0 50px #00a1ff;
  text-align: center;
  margin: 20px;
}

.subheading {
  font-family: "changeling_neoinline";
  font-size: 3.75vw;
  color: #00a1ff;
  text-shadow: 0 0 50px #00a1ff;
  text-align: center;
}

.subheading-sm {
  font-family: "changeling_neoinline";
  font-size: 1.95vw;
  color: #00a1ff;
  text-shadow: 0 0 20px #00a1ff;
  text-align: center;
}

.subheading-drk {
  font-family: "changeling_neoinline";
  font-size: 3.75vw;
  color: #072227;
  text-shadow: 0 0 50px #072227;
  text-align: center;
}

.subheading-drk-sm {
  font-family: "changeling_neoinline";
  font-size: 2.5vw;
  color: #072227;
  text-shadow: 0 0 50px #072227;
}
